/* 1. reset básico */
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* 2. estrutura */
.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* 3. sidebar (menu) */
.aura-sidebar {
  width: 250px;
  flex-shrink: 0;
}

/* 4. conteúdo */
.app-content {

  flex: 1;
  width: 100%;
  min-width: 0; /* 🔥 ESSENCIAL */
  background: #f8fafc;
  overflow-y: auto;
  padding: 0;
}